body {
font-family: Arial, sans-serif;
line-height:  1.6;
margin: 0;
padding: 0;
background-color : #FFD700;
}


header, footer {
background-color: #B8860B;
color: #fff;
padding: 20px;
text-align: center;
}

h1,h2 {
color: #fff;
text-decoration:inherit;
text-decoration-style: solid;
}


main {
padding: 30px;
color: #778899;
}



#benefits ul{
list-style-type: square;
margin-left: 20px;
}

li {
color: #A9A9A9;
margin: center;
text-decoration: underline;
text-decoration-style: solid;

}
blockquote{
font-style: italic;
margin: 20px;
padding: 10px;
background-color: #f4f4f4;
border-left:  5px solid #ccc;
text-decoration: underline;
text-decoration-style: solid;
color: blue;
}
