
body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;

}

header, footer {
  background-color: #333;
  color:#fff;
  padding: 20px;
  text-align: center;

}

h1, h2 {
  color: # 333;
  text-decoration-line: underline;

}

main {
  padding: 20px;
}

benefits ul {
  list-style-type: square;
  margin-left: 20px;
  color: #FFD700 ;


}

li {
  color: #FFD700 ;
  margin-left: 20px;
  text-decoration-style: double;
}

blockquote {
  font-style: italics;
  margin: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-left: 5px solid #ccc;
}
